:host{
    /* button related styles*/
}

.slds-scope{
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (max-width:767px) {
    .profileMenu{
        display: none;
    }
}