:host{
    --lwc-fontFamily: Mulish;

    --lwc-colorBorderInput:rgba(1, 118, 211, 0.2);
    --sds-c-input-color-background:#FAFCFE;
    --lwc-heightInput:2.4rem;
    --sds-c-input-radius-border:12px;
    --sds-c-input-color-background-focus:#fff;
    --slds-c-textarea-color-background:#FAFCFE;

   
    --sds-c-button-radius-border:1rem;

    /* --sds-c-button-brand-spacing-inline-start:5rem; */
    /* --sds-c-button-brand-spacing-inline-end:5rem; */
    /* --sds-c-button-spacing-block-start:0.4rem; */
    /* --sds-c-button-spacing-block-end:0.4rem; */
    /* --sds-c-button-text-color:#0176D3; */

    --sds-c-button-neutral-color-background:#F6F9FF;
    --sds-c-button-neutral-color-border:#F6F9FF;
    --sds-c-button-brand-color-background:#0176D3;
    --sds-c-button-radius-border:2rem;
    --sds-c-button-neutral-spacing-inline-start:2.2rem;
    --sds-c-button-neutral-spacing-inline-end:2.2rem;
    --sds-c-button-brand-spacing-inline-start:2.2rem;
    --sds-c-button-brand-spacing-inline-end:2.2rem;
    --sds-c-button-spacing-block-start:0.5rem;
    --sds-c-button-spacing-block-end:0.5rem;
    --sds-c-button-text-color:#0176D3;
    --sds-c-button-font-weight: 700;
}